<nav class="navbar navbar-default navbar-bottom navbar-inverse">
    <div class="container">
    <ul class="nav navbar-nav">
          <li><a href="/about" id="about-a">About</a></li>
          <li><a href="/contact" id="contact-a">Contact</a></li>
          <li><a href="/newsletter" id="newsletter-a">Newsletter</a></li>
      </ul>
    <ul class="nav navbar-nav navbar-right" id="icons">
          <li><a id="facebook" href="#"><i class="fa fa-facebook"></i></a></li>
          <li><a id="twitter" href="#"><i class="fa fa-twitter"></i></a></li>
          <li><a id="googleplus" href="#"><i class="fa fa-google-plus"></i></a></li>
          <li><a id="youtube" href=""><i class="fa fa-youtube-play"></i></a></li>
          <li><a id="flickr" href=""><i class="fa fa-flickr"></i></a></li>
          <div class="clearfix"></div>
     </ul>

  </div>
</nav>