<!--<div class="flt--left">
  <a id="about-a" class="btn--link" href="/about">About</a>
  <a id="contact-a" class="btn--link" href="/contact">Contact</a>
  <a id="newsletter-a" class="btn--link" href="/newsletter">Newsletter</a>
</div>
<div class="flt--right">
  <a id="facebook" href="#" target="_blank"><i class="fa fa-facebook btn--link"></i></a> 
  <a id="twitter" href="#" target="_blank"><i class="fa fa-twitter btn--link"></i></a> 
  <a id="googleplus" href="#" target="_blank"><i class="fa fa-google-plus btn--link"></i></a> 
  <a id="youtube" href="" target="_blank"><i class="fa fa-youtube-play btn--link"></i></a> 
  <a id="flickr" href="" target="_blank"><i class="fa fa-flickr btn--link"></i></a>
</div>
-->