body {
	color: #9D9D9D !important;
	background-color: #000000 !important;
}
a {
	color: #CC85AC;
}
.jumbotron {
	background-color: #222;
}
.navbar-brand img {
	width: 20px;
	height: 20px;
	display: inline;
}
.form-control {
	background-color: #222;
	border-color: #333;
}
.navbar>.container .navbar-brand:last-child {
	margin-left: -15px;
}
/* header "active" classes */
#adventures #adventures-a, #paraphernalia #paraphernalia-a, #culture #culture-a, #about #about-a, #contact #contact-a, #newsletter #newsletter-a {
    background-color: black;
}
