paper-drawer-panel {
    background-color: #424242 !important;
    color: #ffffff !important;
  }
paper-header-panel, paper-listbox {
	background-color: #212121 !important;
	color: #ffffff !important;
}
paper-toolbar {
	background-color: #303030 !important;
}
paper-card {
	background-color: black !important;
	color: #ffffff !important;
}
.flex {
    @apply(--layout-horizontal);
    @apply(--layout-wrap);
}
#cards > div {
	max-width: 550px;
}
.navbar-bottom {
	margin-top: 20px;
	border: none;
}
/* header "active" classes */
#Adventure #adventure-a, #Paraphernalia #paraphernalia-a, #Culture #culture-a, #About #about-a, #Contact #contact-a, #Newsletter #newsletter-a {
    background-color: #000;
}
#Adventure #adventure-a:hover, #Paraphernalia #paraphernalia-a:hover, #Culture #culture-a:hover, #About #about-a:hover, #Contact #contact-a:hover, #Newsletter #newsletter-a:hover {
    color: 9D9D9D;
}
#facebook:hover i {
	color: #3B5998;
}
#twitter:hover i {
	color: #55acee;
}
#googleplus:hover i {
	color: #DC4E41;
}
#youtube:hover i {
	color: #cd201f;
}
#instagram:hover i {
	color: #2c6a91;
}
#icons li {
	float: left;
}
#icons li a {
	padding: 14px 15px;
}
.navbar-collapse {
	border-top: none;
  	-webkit-box-shadow: none;
  	box-shadow: none;
  	-webkit-overflow-scrolling: touch;
}
.iframe {
	width: 100%;
	height: 0;
	padding-bottom: 56.25%;
	position: relative;
}
#logo {
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	margin: auto;
	height: 100px;
}
#social {
	position: absolute;
	bottom: 0;
	padding: 16px;
}
#social:focus {
	font-weight: normal;
	outline: none !important;
}
#social a {
	color: rgba(0, 0, 0, 0.87);
	font-size: 24px;
	margin-right: 12px;
}
.img--center {
	display: block;
	margin: 0 auto;
}
.paper-item-link {
    color: inherit;
    text-decoration: none;
}
paper-toolbar.tall .title {
    font-size: 40px !important;
    margin: 0 !important;
    text-align: center;
}

.container {
	padding: 16px;
}
a {
	line-height: normal !important;
	color: #ffffff !important;
}
paper-listbox paper-item:focus {
	border: none !important;
}
.flex-auto {
	margin: 8px;
}
paper-card {
	display: block !important;
}
#cards {
	margin: -8px;
}